namespace:
  name: cnpg-system
  istio:
    enabled: false

cloudnative-pg:
  replicaCount: 1
  
  resources:
    requests:
      memory: 128Mi
      cpu: 100m
    limits:
      memory: 256Mi
      cpu: 200m
