apiVersion: postgresql.cnpg.io/v1
kind: Cluster
metadata:
  name: keycloak-db
  namespace: {{ .Values.namespace.name }}
  annotations:
    argocd.argoproj.io/sync-wave: "1"
    argocd.argoproj.io/sync-options: SkipDryRunOnMissingResource=true
spec:
  instances: {{ .Values.postgres.instances }}
  imageName: {{ .Values.postgres.image }}

  primaryUpdateStrategy: {{ .Values.postgres.primaryUpdateStrategy }}
  primaryUpdateMethod: {{ .Values.postgres.primaryUpdateMethod }}
  switchoverDelay: {{ .Values.postgres.switchoverDelay }}
  failoverDelay: {{ .Values.postgres.failoverDelay }}
  maxSyncReplicas: {{ .Values.postgres.maxSyncReplicas }}
  minSyncReplicas: {{ .Values.postgres.minSyncReplicas }}
  
  enableSuperuserAccess: {{ .Values.postgres.enableSuperuserAccess }}
  postgresUID: {{ .Values.postgres.postgresUID }}
  postgresGID: {{ .Values.postgres.postgresGID }}
  
  enablePDB: {{ .Values.postgres.enablePDB }}
  
  affinity:
    enablePodAntiAffinity: {{ .Values.postgres.affinity.enablePodAntiAffinity }}
    topologyKey: {{ .Values.postgres.affinity.topologyKey }}
    podAntiAffinityType: {{ .Values.postgres.affinity.podAntiAffinityType }}
  
  logLevel: {{ .Values.postgres.logLevel }}
  
  postgresql:
    parameters:
      max_connections: {{ .Values.postgres.parameters.max_connections | quote }}
      shared_buffers: {{ .Values.postgres.parameters.shared_buffers | quote }}
      effective_cache_size: {{ .Values.postgres.parameters.effective_cache_size | quote }}
      maintenance_work_mem: "64MB"
      checkpoint_completion_target: "0.9"
      wal_buffers: "16MB"
      default_statistics_target: "100"
      random_page_cost: "1.1"
      effective_io_concurrency: "200"
      work_mem: "2621kB"
      min_wal_size: "1GB"
      max_wal_size: "4GB"
{{- if .Values.logging.enabled }}
      log_statement: {{ .Values.logging.postgres.statement | quote }}
      log_min_duration_statement: {{ .Values.logging.postgres.minDuration | quote }}
      log_line_prefix: "%m [%p] %q%u@%d "
      log_connections: "on"
      log_disconnections: "on"
{{- end }}
  
  bootstrap:
    initdb:
      database: {{ .Values.postgres.database }}
      owner: {{ .Values.postgres.username }}
      encoding: UTF8
      localeCType: C
      localeCollate: C
  
  storage:
    size: {{ .Values.postgres.storage.size }}
    storageClass: {{ .Values.postgres.storage.storageClass }}
  
  monitoring:
    enablePodMonitor: false
    disableDefaultQueries: false
    customQueriesConfigMap:
    - name: cnpg-default-monitoring
      key: queries
  
  resources:
    requests:
      memory: {{ .Values.postgres.resources.requests.memory | quote }}
      cpu: {{ .Values.postgres.resources.requests.cpu | quote }}
    limits:
      memory: {{ .Values.postgres.resources.limits.memory | quote }}
      cpu: {{ .Values.postgres.resources.limits.cpu | quote }}
