namespace:
  name: cert-manager

cert-manager:
  crds:
    enabled: true
  
  global:
    leaderElection:
      namespace: cert-manager
    podSecurityPolicy:
      enabled: false
  
  podSecurityContext:
    runAsNonRoot: false
  
  resources:
    requests:
      cpu: 10m
      memory: 32Mi
    limits:
      cpu: 100m
      memory: 128Mi
  
  webhook:
    resources:
      requests:
        cpu: 10m
        memory: 32Mi
      limits:
        cpu: 100m
        memory: 128Mi
  
  cainjector:
    resources:
      requests:
        cpu: 10m
        memory: 32Mi
      limits:
        cpu: 100m
        memory: 128Mi
