namespace:
  name: iam-system

logging:
  enabled: false
  format: text    
  keycloak:
    level: INFO
  postgres:
    statement: none         
    minDuration: -1           

keycloak:
  replicas: 2
  image:
    registry: quay.io
    repository: keycloak/keycloak
    tag: "26.4.2"
  startOptimized: false
  httpEnabled: true
  hostname: keycloak.local
  operator:
    version: "26.4.2"
  
  init:
    enabled: true
    image: badouralix/curl-jq:latest
    
    realm:
      name: myrealm
      displayName: "My Application Realm"
    
    user:
      username: eric.hans
      email: eric.hans@example.com
      firstName: Eric
      lastName: Hans
      password: password123 

postgres:
  instances: 3
  image: ghcr.io/cloudnative-pg/postgresql:18
  database: keycloak
  username: keycloak
  
  primaryUpdateStrategy: unsupervised  
  primaryUpdateMethod: switchover 
  switchoverDelay: 60 
  failoverDelay: 0  
  maxSyncReplicas: 0 
  minSyncReplicas: 0
  
  enableSuperuserAccess: false
  postgresUID: 26
  postgresGID: 26
  
  enablePDB: true
  
  affinity:
    enablePodAntiAffinity: true
    topologyKey: kubernetes.io/hostname
    podAntiAffinityType: preferred 
  
  logLevel: info
  
  storage:
    size: 10Gi
    storageClass: local-path 
  resources:
    requests:
      memory: "512Mi"
      cpu: "500m"
    limits:
      memory: "1Gi"
      cpu: "1"
  parameters:
    max_connections: "200"
    shared_buffers: "256MB"
    effective_cache_size: "1GB"

ingress:
  enabled: true
  className: traefik 
  hostname: keycloak.local
