namespace:
  name: iam-system

cloudnative-pg:
  replicaCount: 1
  resources:
    requests:
      memory: 256Mi
      cpu: 200m
    limits:
      memory: 512Mi
      cpu: 500m

logging:
  enabled: true
  format: json    
  keycloak:
    level: WARN
  postgres:
    statement: ddl
    minDuration: 1000

auditLogs:
  enabled: true           

keycloak:
  replicas: 2
  image:
    registry: quay.io
    repository: keycloak/keycloak
    tag: "26.4.2"
  startOptimized: false
  httpEnabled: true
  hostname: keycloak.local
  operator:
    version: "26.4.2"
  
  resources:
    requests:
      memory: "1Gi"
      cpu: "1"
    limits:
      memory: "4Gi"
      cpu: "2"
  
  additionalOptions:
    - name: log-console-output
      value: json
    - name: spi-events-listener-jboss-logging-success-level
      value: info
    - name: spi-events-listener-jboss-logging-error-level
      value: warn

postgres:
  instances: 3
  image: ghcr.io/cloudnative-pg/postgresql:18
  database: keycloak
  username: keycloak
  
  primaryUpdateStrategy: unsupervised  
  primaryUpdateMethod: switchover 
  switchoverDelay: 60 
  failoverDelay: 0  
  maxSyncReplicas: 0 
  minSyncReplicas: 0
  
  enableSuperuserAccess: false
  postgresUID: 26
  postgresGID: 26
  
  enablePDB: true
  
  affinity:
    enablePodAntiAffinity: true
    topologyKey: kubernetes.io/hostname
    podAntiAffinityType: preferred 
  
  logLevel: info
  
  storage:
    size: 20Gi
    storageClass: standard 
  resources:
    requests:
      memory: "1Gi"
      cpu: "1"
    limits:
      memory: "2Gi"
      cpu: "2"
  parameters:
    max_connections: "300"
    shared_buffers: "512MB"
    effective_cache_size: "2GB"
    log_destination: "stderr"
    logging_collector: "on"
    log_statement: "ddl"
    log_connections: "off"
    log_disconnections: "off"
    log_duration: "off"
    log_line_prefix: "%m [%p] %q%u@%d "
    log_min_duration_statement: "1000"
    log_error_verbosity: "default"
    log_lock_waits: "on"
    log_temp_files: "0"

gateway:
  enabled: true
  hostname: keycloak.local
