{{- if .Values.grafana.enabled }}
apiVersion: networking.istio.io/v1beta1
kind: Gateway
metadata:
  name: grafana-gateway
  namespace: {{ .Values.namespace.name }}
  annotations:
    argocd.argoproj.io/sync-wave: "3"
spec:
  selector:
    istio: ingressgateway
  servers:
  - port:
      number: 80
      name: http
      protocol: HTTP
    hosts:
    - grafana.local
---
apiVersion: networking.istio.io/v1beta1
kind: VirtualService
metadata:
  name: grafana-vs
  namespace: {{ .Values.namespace.name }}
  annotations:
    argocd.argoproj.io/sync-wave: "3"
spec:
  hosts:
  - grafana.local
  gateways:
  - {{ .Values.namespace.name }}/grafana-gateway
  http:
  - match:
    - uri:
        prefix: /
    route:
    - destination:
        host: observability-stack-grafana
        port:
          number: 80
---
apiVersion: networking.istio.io/v1beta1
kind: DestinationRule
metadata:
  name: grafana-dr
  namespace: {{ .Values.namespace.name }}
  annotations:
    argocd.argoproj.io/sync-wave: "3"
spec:
  host: observability-stack-grafana
  trafficPolicy:
    tls:
      mode: ISTIO_MUTUAL
{{- end }}
