apiVersion: v1
kind: Secret
metadata:
  name: grafana-admin-credentials
  namespace: {{ .Values.namespace.name }}
  annotations:
    "helm.sh/resource-policy": keep
type: Opaque
stringData:
  admin-user: admin
  admin-password: {{ randAlphaNum 32 | quote }}
