apiVersion: v1
kind: Secret
metadata:
  name: grafana-admin-credentials
  namespace: {{ .Values.namespace.name }}
  annotations:
    "helm.sh/resource-policy": keep
type: Opaque
data:
  admin-user: YWRtaW4=  # admin
  admin-password: R3JhZmFuYUFkbWluUGFzc3dvcmQxMjM=  # GrafanaAdminPassword123
